#twitch {
    background-color: #A970FF;
}

#twitch:hover {
    background-color: #9C67EB;
}

.form-switch-lg .form-check-input {
    width: 3em;
    height: 1.5em;
}

.form-switch-lg .form-check-label {
    font-size: 1.25rem;
    margin-left: 0.5rem;
}

.btn-square-md {
    width: 30px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 30px !important;
    text-align: center;
    padding: 0px;
    font-size: 12px;
}

.btn-height-32 {
    height: 30px !important;
    line-height: 15px;
    text-align: center;
}